<!DOCTYPE html>
<html lang="en">
{% extends 'shop/base.html' %}
{% block content %}

<h1 class="headings">Frequently asked questions</h1>
<div>
    <h3>Returns</h3>
    <p><strong>How do I return items that I do not want to keep?</strong>
        First, complete your checkout online before the end of your 7-day try-on period by going your orders. Your shipment
        comes in a resealable package with an adhesive prepaid return label to make returns easy. Simply use the provided
        return label and drop off your package at the nearest UPS location. Items must be returned with tags on and in their
        original packaging, including: hangers, polybags, gift box. Items must be unused, unworn, unwashed, and undamaged.
        Note: If you receive an order in multiple packages, you can return items in any package using any of the return
        labels.</p>
    <strong>How long do I have to return my items?</strong>
    <p>You have until the end of the try-on period to postmark returns. Don't forget to complete your checkout online before
        the end of your 7-day try-on period by going to your orders. Simply drop off your returns at the nearest UPS
        location.</p>
    <strong>What if I want to return something after the 7-day try-on period?</strong>
    <p>If you change your mind, or if you have been automatically charged for items at the end of the try-on period that you
        did not intend to keep, you will still have 30 days from the end of the try-on period to return the items to
        StitchMaster for a refund. The items will be subject to the same Stitch Master 30-day Return Policy (items must be
        returned in their original packaging, including: hangers, polybags, hang tags on garments, gift boxes. Items must be
        unused, unworn, unwashed, and undamaged).</p>
    <strong>Do I need to have all items returned by the end of the 7-day try-on period?</strong>
    <p>To avoid being charged for all items in your order, please complete checkout before the end of your 7-day try-on
        period by going to your orders. You have until the end of the 7-day try-on period to postmark a return shipment at a
        UPS location.</p>
</div>
<div>
    <h3>Shipping</h3>
    <p><strong>How do I ship my picks?</strong>
    In order for a box to ship, you must select between one to eight items. If you do not want to ship at least one item,
    you can provide feedback on your picks which will be sent to our stylists. You will have seven days to try on the
    items at home and you will only be charged for the items you decide to keep. Your shipment comes in a resealable
    package with an adhesive prepaid return label to make returns easy.</p>
    <strong>How long is the try-on period?</strong>
    <p>You will have seven calendar days to try on your items at home, starting on the day your order is delivered. Before
    the end of the seven day try-on period, please go to your orders. check out and indicate which items you are keeping
    and returning. You have until the end of the try-on period to postmark returns: Use the provided return label and
    drop off your returns at UPS.</p>
    </p>

</div>
{% endblock %}
</html>
